## -*- coding: utf-8 -*-

<%block name="content">

<% 
    from datetime import datetime 
    now = datetime.now

%>

<!-- Begin post-list ${post_list_id} -->
<div id="${post_list_id}" class="post-list">
    %if posts:
    <ul class="post-list">
        % for post in posts:
            % if post.date <= now(post.date.tzinfo):
                <p class="post-list-item">
                <a href="${post.permalink(lang)}">${post.title(lang)|h}</a>
                </p>
            % endif
        % endfor
    </ul>
    %endif
</div>
<!-- End post-list ${post_list_id} -->
</%block>
